

<app-nav></app-nav>

<body>

	<main class="container_main">

		<h1>Desafio frontend Tintas</h1>

		<p> Este projeto foi desenvolvido visando o conhecimento / aperfeiçoamento de técnicas e 
soluções em projetos reais.  </p>
		<p> Durante a construção do projeto utilizei as seguintes ferramentas: Angular, TawindCSS, TS, 
Nodejs e Vlibras, para facilitar a acessibilidade do usuário.</p>
		<p> Para absorção dos novos conhecimentos busquei por sites especializados, fóruns e referência de terceiros, 
além dos meus conhecimentos para  desenvolver as atividades, agregando assim formas e 
métodos ao projeto,que com certeza irei de utilizar no futuro.</p>

	</main>





<app-footer id="footer"></app-footer>