<app-nav></app-nav>

<main class="principal flex flex-row justify-center p-4 ">

	<div class="container primeiro-container" id="primeira">

		<div class="primeira-coluna">
			<h2 class="title text-white">Bem vindo</h2>
			<p class="descricao text-white">Para logar-se</p>
			<p class="descricao text-white">por favor entre com seus dados</p>
			<button class="botao1 bg-azul text-white" (click)="goToLogin()">Acessar</button>
		</div>

		<div class="segunda-coluna">
			<h2 class="title text-azul">Criar Conta</h2>
			<!-- formas de acesso -->
			<!-- <div class="formas-cadastro">
				<ul class="acesso">
					<a class="link-social-media" href="#">
						<li class="item-media">
							<i class="fab fa-facebook-f"></i>
						</li>
					</a>
					<a class="link-social-media" href="#">
						<li class="item-media">
							<i class="fab fa-google-plus-g"></i>
						</li>
					</a>
					<a class="link-social-media" href="#">
						<li class="item-media">
							<i class="fab fa-linkedin-in"></i>
						</li>
					</a>
				</ul>
			</div> -->

			<!-- <p class="descricao text-azul">Cadastrar-se utilizando E-mail</p> -->

			
			<form [formGroup] = 'cadastroform'  class="formulario">
				<input formControlName = 'nome' type="text" placeholder="   Nome">
				<input formControlName = 'email' type="email" placeholder="   E-mail">
				<input formControlName = 'senha' type="password" placeholder="   Senha">
				<button class="botao2 bg-azul text-white" (click)="signUp()">Cadastrar</button>
			</form>
		</div>
	</div>

	<!-- --------------------------------------------- -->

	<div class="container segundo-container" id="segunda">
		<div class="primeira-coluna">
			<h2 class="title text-white">Olá</h2>
			<p class="descricao text-white">Entre com seus dados pessoais</p>
			<p class="descricao text-white">e vamos lá!</p>
			<button class="botao3 text-white" (click)="goToSignUp()">Cadastrar</button>
		</div>

		<div class="segunda-coluna">
			<h2 class="title text-azul">Bem vindo</h2>
			<!-- formas de acesso -->
			<!-- <div class="formas-cadastro">
			
				<ul class="acesso">
					<a class="link-social-media" href="#">
						<li class="item-media">
							<i class="fa-brands fa-facebook"></i>
						</li>
					</a>
					<a class="link-social-media" href="#">
						<li class="item-media">
							<i class="fab fa-google-plus-g"></i>
						</li>
					</a>
					<a class="link-social-media" href="#">
						<li class="item-media">
							<i class="fab fa-linkedin-in"></i>
						</li>
					</a>
				</ul>

			</div> -->

			<p class="descricao">Acessar por E-mail</p>

			<form  [formGroup] = 'loginform'  class="formulario">
				<input formControlName = 'email' type="email" placeholder="   E-mail">
				<input formControlName = 'senha' type="password" placeholder="   Senha">
				<a class="underline" href="#">Esqueci minha senha</a>
				<button class="botao4 bg-azul text-white" (click)="login()">Acessar</button>

			</form>
		</div>
	</div>
</main>





<app-footer></app-footer>