<header class="cabecalho">
	<a>
		<img class="logo" src="assets/logo.png" alt="logo">
	</a>
	<nav>
		<ul class="menu">
			<li><a href="./sobre.html">Sobre</a></li>
		</ul>
	</nav>
</header>



<main class="principal flex flex-row justify-center border border-solid border-8 p-4 ">

	<div class="container primeiro-container ">

		<div class="primeira-coluna">
			<h2 class="title">Bem vindo</h2>
			<p class="descricao">Para logar-se</p>
			<p class="descricao">por favor entre com seus dados</p>
			<button (click)="btn1()">Acessar</button>
		</div>

		<div class="segunda-coluna">
			<h2 class="title">Criar Conta</h2>
			<!-- formas de acesso -->
			<div class="formas-cadastro">
				<ul class="acesso">
					<li><a href="#">face</a></li>
					<li><a href="#">google</a></li>
					<li><a href="#">linkedin</a></li>
				</ul>
			</div>

			<p class="descricao">Cadastrar-se utilizando E-mail</p>

			<form class="formulario">
				<input type="text" placeholder="Digite seu nome">
				<input type="email" placeholder="Digite seu E-mail">
				<input type="password" placeholder="Senha">
				<button (click)="btn2()">Cadastrar</button>
			</form>
		</div>
	</div>

	<!-- --------------------------------------------- -->

	<div class="container segundo-container">
		<div class="primeira-coluna">
			<h2 class="title">Olá</h2>
			<p class="descricao">Entre com seus dados pessoais</p>
			<p class="descricao">e vamos lá!</p>
			<button (click)="btn3();">Cadastrar</button>
		</div>

		<div class="segunda-coluna">
			<h2 class="title">Bem vindo</h2>
			<!-- formas de acesso -->
			<div class="formas-cadastro">
				<ul class="acesso">
					<li><a href="#">face</a></li>
					<li><a href="#">google</a></li>
					<li><a href="#">linkedin</a></li>
				</ul>
			</div>

			<p class="descricao">Acessar por E-mail</p>

			<form class="formulario">
				<input type="email" placeholder="Digite seu E-mail">
				<input type="password" placeholder="Senha">
				<a href="#">Esqueci minha senha</a>
				<button class="btn">Acessar</button>

			</form>
		</div>
	</div>
</main>





<footer class="bg-[#0f172a] text-center">
	<p class="rodape text-stone-50">&copy; Copyright Ronan Cassemiro - {{anoAtual}}


	</p>
</footer>