<header class="cabecalho">
	<a>
		<img class="logo" src="assets/logo.png" alt="logo">
	</a>
	<nav>
		<ul class="menu">
			<li><a href="./sobre.html">Sobre</a></li>
		</ul>
	</nav>
</header>



<main class="principal flex flex-row justify-center p-4 ">

	<div class="container primeiro-container ">

		<div class="primeira-coluna">
			<h2 class="title text-white">Bem vindo</h2>
			<p class="descricao text-white">Para logar-se</p>
			<p class="descricao text-white">por favor entre com seus dados</p>
			<button class="botao1 bg-azul text-white" (click)="btn1()">Acessar</button>
		</div>

		<div class="segunda-coluna">
			<h2 class="title text-azul">Criar Conta</h2>
			<!-- formas de acesso -->
			<!-- <div class="formas-cadastro">
				<ul class="acesso">
					<a class="link-social-media" href="#">
						<li class="item-media">
							<i class="fab fa-facebook-f"></i>
						</li>
					</a>
					<a class="link-social-media" href="#">
						<li class="item-media">
							<i class="fab fa-google-plus-g"></i>
						</li>
					</a>
					<a class="link-social-media" href="#">
						<li class="item-media">
							<i class="fab fa-linkedin-in"></i>
						</li>
					</a>
				</ul>
			</div> -->

			<!-- <p class="descricao text-azul">Cadastrar-se utilizando E-mail</p> -->

			<form class="formulario">
				<input type="text" placeholder="   Nome">
				<input type="email" placeholder="   E-mail">
				<input type="password" placeholder="   Senha">
				<button class="botao2 bg-azul text-white" (click)="btn2()">Cadastrar</button>
			</form>
		</div>
	</div>

	<!-- --------------------------------------------- -->

	<div class="container segundo-container">
		<div class="primeira-coluna">
			<h2 class="title text-white">Olá</h2>
			<p class="descricao text-white">Entre com seus dados pessoais</p>
			<p class="descricao text-white">e vamos lá!</p>
			<button class="botao3 text-white" (click)="btn3();">Cadastrar</button>
		</div>

		<div class="segunda-coluna">
			<h2 class="title text-azul">Bem vindo</h2>
			<!-- formas de acesso -->
			<!-- <div class="formas-cadastro">
			
				<ul class="acesso">
					<a class="link-social-media" href="#">
						<li class="item-media">
							<i class="fa-brands fa-facebook"></i>
						</li>
					</a>
					<a class="link-social-media" href="#">
						<li class="item-media">
							<i class="fab fa-google-plus-g"></i>
						</li>
					</a>
					<a class="link-social-media" href="#">
						<li class="item-media">
							<i class="fab fa-linkedin-in"></i>
						</li>
					</a>
				</ul>

			</div> -->

			<p class="descricao">Acessar por E-mail</p>

			<form class="formulario">
				<input type="email" placeholder="   E-mail">
				<input type="password" placeholder="   Senha">
				<a class="underline" href="#">Esqueci minha senha</a>
				<button class="botao4 bg-azul text-white" (click)="btn4();">Acessar</button>

			</form>
		</div>
	</div>
</main>





<footer class="bg-[#0f172a] text-center">
	<p class="rodape text-white">&copy; Copyright Ronan Cassemiro - {{anoAtual}}


	</p>
</footer>