* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 50%;
}

body {
  font-family: 'Poppins';
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  width: 100%;
  margin: 0 auto;
  background: #94a3b8;
  height: 100px;
  height: 12vh;
}

.cabecalho .logo {

  height: 100%;
  margin: center;
  padding: 5px 20px;

}


.cabecalho .menu {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 50px 0 0;

}

.cabecalho nav li a {
  font-weight: bold;
  background-color: #184270;
  color: #ffffff;
  font-size: 28px;
  padding: 5px 20px;
  border-radius: 50px;
  transition: 0.3s;

}

.cabecalho nav li a:hover {
  color: #184270;
  background-color: white;
  border: 3px solid #184270;
  transition: 1s;

}

/* ------------------------------------------------------------- */

.principal {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #ecf0f1;
  height: 80vh;
  align-items: center;


}

.container {
  background-color: white;
  display: flex;
  border-radius: 15px;
  height: 80%;
  width: 960px;
  justify-content: space-between;
  align-items: center;
  position: relative;

}

.container::before {
  content: "";
  position: absolute;
  background-color: #184270;
  width: 40%;
  height: 100%;


}

.title {

  font-size: 28px;
  font-weight: bold;
}

.descricao {
  font-size: 14px;
  font-weight: 300;
  /* color: white; */
  line-height: 30px;
}

.acesso {
  display: flex;
  list-style-type: none;

}

.formulario {
  display: flex;
  flex-direction: column;
  width: 70%;
  /* color: red; */
}

.formulario input {
  height: 45px;
  width: 100%;
  border: none;
  background-color: #ecf0f1;
  margin-top: 5px;
  border-radius: 10px;
}



/* .item-media a{
  color: #95a5a6;
}

.item-media{
  border: 1px solid #95a5a6;
  border-radius: 50%; */
/* } */


button {
  color: white;
  border-radius: 15px;
  /* Cantos arredondados */
  cursor: pointer;
  text-transform: uppercase;
  font-size: 10px;
  padding: 10px 50px;
  border: 1px solid white;
  font-weight: bold;
  margin-top: 20px;
  width: 150px;
  align-self: center;
}

.botao1:hover {
  background-color: white;
  color: #184270;
  transition: 1s;

}



.botao2:hover {
  background-color: white;
  color: #184270;
  transition: 1s;
  border: 1px solid #184270;
}

.primeiro-container {
  display: flex;
}


.segundo-container {

  position: absolute;
  display: none;
}

.primeira-coluna {
  text-align: center;
  width: 40%;
  z-index: 10;
}

.segunda-coluna {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* ------------------------------------------------------------- */
footer {
  height: 10vh;
  /* padding: 20px 0; */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

}

.rodape {
  font-size: 10px;
  margin-top: 4vh;
  text-align: center;
  align-items: center;



}