main{
  background-color: whi;
  height: 79.8vh;
  display: flex;
}

#footer{
  bottom: 0;
  width: 100%;
  width: 960px;
  
}

.rol{
  /* display: flex; */
  display: inline-block;
  margin: auto;
  font-weight: bold;
  font-size: 25px;
  font-weight: bold;
  color: black;
  max-width: 960px;
  max-height: auto;
  
  

  align-items: center;

  
  
}

